<div class="max-w-4xl mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
  <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">All Users</h1>

  <div class="space-y-4">
    <% @users.each do |user| %>
      <div class="flex items-center justify-between bg-gray-50 p-4 rounded-lg">
        <div class="flex items-center">
          <% if user.profile_photo.attached? %>
            <%= image_tag user.profile_photo.variant(resize_to_limit: [50, 50]), class: "rounded-full mr-4" %>
          <% else %>
            <%= image_tag "default_profile_photo.png", class: "w-12 h-12 rounded-full mr-4" %>
          <% end %>
          <span class="text-lg text-gray-800"><%= user.email %></span>
        </div>
        <div id="user-<%= user.id %>">
          <%= render partial: "follow_button", locals: { user: user } %>
        </div>
      </div>
    <% end %>
  </div>
</div>